html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

#container {
  background: linear-gradient(to bottom, #05abe0 0%,#d676db 100%);
  width: 100%;
  height: 100%;
  padding: 1em;
}
.title {
  font-family: 'Monoton', cursive;
  font-size: 5em;
  margin: 0;
  padding: 0;
  color: #fff;
}
.content {
  font-family: 'Roboto', sans-serif;
  font-size: 2em;
}
img {
  width: 80vw;
  height: auto;
}